.stats {
  
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    width: 170; 
    background-color: #2A9C6B;
    color: white;
 
  }
  
  .stat h3 {
    font-size: 1.5rem;
  }
  
  .stat p {
    font-size: 2rem;
    font-weight: bold;
  }
  